name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # Run workflow manually
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The contents permission is required
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: ${{ github.repository_owner }}
          template: classic
          config_timezone: Asia/Kolkata # Set your timezone
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
