name: Metrics
on:
  schedule: 
    - cron: "0 * * * *"  # Update every hour
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Calendar plugin
          plugin_calendar: yes
          plugin_calendar_limit: 1
